@{
Layout = "_Layout";
}
<h1 class="my-3">Add Recipe</h1>
<form class="form-group" action='/recipes' method='post'>
    <label>Recipe Name
        <input type="text" name="newName" class="form-control" required>
    </label><br>
    <label for="ingredients">Ingredients</label>
    <input type="text" placeholder="Enter ingredients separated by commas." name="ingredients" id="ingredients" class="form-control">
    <label>Instructions</label>
    <textarea rows="8" col ="8" name="newInstructions" class="form-control" required></textarea>
    <br>
    <label>Tags<br>
        <select id="categorySelect" name="categorySelect">
            @foreach (var category in @Model)
            {
            <option value="@category.Id">@category.Name</option>
            }
        </select>
    </label><br>
    <label>Rating
        <input type="number" name="newRating" class="form-control" max="10" min="0">
    </label><br>
    <button class="btn btn-success my-2" type="submit">Submit</button>
    <a href="/recipes" class="btn btn-secondary ml-2">Back to recipes</a>
</form>