@{
Layout = "_Layout";
}

<h1 class="my-3 frontPageHeader">Recipe Journal</h1>

<div class="frontPage">
    <button onclick="window.location.href='/categories'" class="my-2">View Categories</button>

    <button onclick="window.location.href='/recipes'" class="my-3">View Recipes</button>
</div>
