@{
Layout = "_Layout";
}

<h1>Recipe Journal</h1>

<h3>Categories</h3>
<button onclick="window.location.href='/categories'">View Categories</button>
<button onclick="window.location.href='/categories/new'">Add Categories</button>
<br>
<h3>Recipes</h3>
<button onclick="window.location.href='/recipes'">View Recipes</button>
<button onclick="window.location.href='/recipes/new'">Add Recipe</button>