@{
Layout = "_Layout";
}

<h1 class="my-3">Recipe Journal</h1>

<h3>Categories</h3>
<button onclick="window.location.href='/categories'" class="btn btn-info my-2">View Categories</button>
<h3>Recipes</h3>
<button onclick="window.location.href='/recipes'" class="btn btn-info my-2">View Recipes</button>
