@{
Layout = "_Layout";
}

<h1 class="my-3">Recipe Journal</h1>

<h3>Categories</h3>
<<<<<<< HEAD
<button onclick="window.location.href='/categories'" class="btn btn-info">View Categories</button>&nbsp;&nbsp;

<br><br>
=======
<button onclick="window.location.href='/categories'" class="btn btn-info my-2">View Categories</button>
>>>>>>> d48b71a621d657677edca7139516d1e12864ad52
<h3>Recipes</h3>
<button onclick="window.location.href='/recipes'" class="btn btn-info my-2">View Recipes</button>
